@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		color: white;
		background-color: #0b0e10;
		--toastify-color-info: #359ba6 !important;
		--toastify-color-success: #33b987 !important;
	}

	html {
		font-family: 'Familjen Grotesk', sans-serif;
	}
	/* Password mask size fix */
	input[type='password'] {
		font-family: Verdana;
	}

	/* Autofill color fix */
	@keyframes autofill {
		0%,
		100% {
			background: transparent;
		}
	}

	input[type='number']::-webkit-outer-spin-button,
	input[type='number']::-webkit-inner-spin-button,
	input[type='number'] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}

	input:-webkit-autofill {
		-webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
		-webkit-animation-name: autofill;
		-webkit-animation-fill-mode: both;
	}

	/* Estilo para as barras de rolagem no Chrome e Safari */
::-webkit-scrollbar {
	width: 12px;
  }
  
  ::-webkit-scrollbar-track {
	background: rgba(0,0,0,0.2);
  }
  
  ::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.5);
	border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
  
  /* Estilo para as barras de rolagem no Firefox */
  /* Note que as propriedades podem variar entre os navegadores, verifique a compatibilidade */
  /* no navegador que você está usando */
  
  /* Track */
  * {
	scrollbar-width: thin;
	scrollbar-color: #f1f1f1 #888;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3);;
	border-radius: 6px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
	background-color: #555;
  }
  
}
